* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  min-height: 768px;
  background: linear-gradient(
    0deg,
    #ebf3fb 8.84%,
    rgba(152, 195, 232, 0) 31.12%
  );
  padding-top: 42px;
}

.header__box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__top {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.header__bottom {
  padding-top: 115px;
  flex-grow: 1;
  background-image: url(img/header_back.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.header__heading1 {
  width: 510px;
  font-size: 64px;
  line-height: 74px;
  font-weight: 300;
  letter-spacing: 0.04em;
  color: #1f3f68;
  margin-bottom: 32px;
}

.header__text {
  display: block;
  width: 425px;
  color: #356ead;
}

.button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #5a98d0;
  text-decoration: none;
  display: inline-block;
}

.button_header {
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  margin-top: 71px;
  padding: 15px 50px;
}

.what-we-do {
  padding-top: 64px;
}

.what-we-do__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -5px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.what-we-do__card {
  width: 359px;
  margin: 5px;
  padding: 44px 32px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.card__img {
  align-self: center;
  margin-bottom: 51px;
}

.card__link {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5a98d0;
  text-decoration: none;
}

.project__parent {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.project__img {
  width: 100%;
}

.project__item {
  position: relative;
  flex-grow: 1;
}

.project__item_margin {
  margin-right: 32px;
}

.project__text {
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #ffffff;
  position: absolute;
  top: 64px;
  right: 64px;
}

.project__text_left {
  right: auto;
  top: 32px;
  right: 32px;
  text-align: left;
}

.text {
  font-size: 16px;
  line-height: 26px;
  color: #1f3f68;
  letter-spacing: 0.05em;
  opacity: 0.6;
}

.text_project {
  width: 75%;
  margin: 32px auto 64px;
  text-align: center;
  color: black;
  opacity: 1;
}

.heading1 {
  font-size: 64px;
  color: #1f3f68;
}

.heading2 {
  font-weight: 500;
  font-size: 44px;
  text-align: center;
}

.heading3 {
  font-size: 36px;
  text-align: center;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: 0.05em;
}

.heading4 {
  font-size: 20px;
  line-height: 30px;
  color: #1f3f68;
  letter-spacing: 0.05em;
  margin-bottom: 14px;
}

.form_point {
  border: 1px solid #356ead;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
}

.sub_button {
  background: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

hr {
  opacity: 0.4;
  border: 1px solid #ffffff;
}

.footer {
  margin-top: 112px;
  background-color: #316099;
  color: white;
  padding-bottom: 64px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding-top: 91px;
  margin-bottom: 96px;
}

.heading3_footer {
  width: 340px;
  display: block;
  text-align: left;
  margin-bottom: 32px;
}

.text_footer {
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.6;
  width: 495px;
}

.button_footer {
  padding: 15px 80px;
}

.footer__bottom {
  margin-top: 64px;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
  list-style-position: inside;
}

.contact-us-all {
  display: flex;
  justify-content: space-around;
}

.a_footer {
  color: white;
  text-decoration: none;
  padding-left: 20px;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .header__bottom {
    background-position: right 280px;
    background-size: 44%;
  }

  .what-we-do__list {
    flex-direction: column;
    align-items: center;
  }

  .what-we-do__card {
    margin-bottom: 32px;
  }

  .footer {
    margin-top: 109px;
  }

  .footer__top {
    padding-top: 47px;
    margin-bottom: 64px;
    padding-left: 92px;
    padding-right: 92px;
  }

  .heading3_footer {
    width: 336px;
  }

  .text_footer {
    width: 336px;
  }

  .button_footer {
    padding: 5px 30px;
  }

  .footer__bottom {
    padding-left: 92px;
    padding-right: 92px;
  }

  .footer__info {
    flex-direction: column;
  }

  .footer__info li {
    margin-bottom: 25px;
  }

  .a_footer {
    padding-left: 45px;
  }
}

@media (max-width: 667px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header {
    padding-top: 24px;
    min-height: 376px;
    padding-bottom: 41px;
    box-sizing: border-box;
  }

  .header__bottom {
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
  }

  .header__heading1 {
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    margin-bottom: 12px;
    width: 100%;
  }

  .header__text {
    width: 100%;
    text-align: center;
  }

  .button_header {
    margin-top: 36px;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    padding: 0 8px;
  }

  .heading3 {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }

  .what-we-do {
    padding-top: 48px;
  }

  .what-we-do__list {
    padding-top: 32px;
  }

  .what-we-do__card {
    width: 100%;
  }

  .text_project {
    width: 100%;
  }

  .project__text {
    font-size: 16px;
    line-height: 19px;
    top: 16px;
    right: 16px;
  }

  .project__text_left {
    left: 16px;
  }

  .project__parent {
    flex-direction: column;
    margin-top: 16px;
  }

  .project__item_margin {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .footer {
    margin-top: 64px;
    padding-bottom: 32px;
  }

  .footer__top {
    padding-top: 18px;
    margin-bottom: 41px;
    flex-direction: column;
  }

  .heading3_footer {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }

  .text_footer {
    text-align: center;
  }

  .button_footer {
    padding: 5px 15px;
    margin-top: 40px;
  }

  .footer__bottom {
    margin-top: 32px;
    padding-left: 0;
    padding-right: 0;
  }

  .footer__info {
    flex-direction: column;
    margin-bottom: 37px;
  }

  .footer__info li {
    margin-bottom: 18px;
  }

  .a_footer {
    padding-left: 23px;
  }
}
